body {
  margin: 0px;
  background-color: #222222;
}

#memory_button {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 180px;
    height: 48px;
    background-color: #222222;
    border: 2px solid rgba(241, 196, 15, 0.4);
    border-radius: 3px;
    color: #f1c40f;
    font-size: 24px;
    font-family: 'Pacifico';
    transition: 300ms cubic-bezier(0.50, 0.00, 1, 1.25);
}

#memory_button:hover {
  background-color: #2a2a2a;
  border: 2px solid rgba(241, 196, 15, 0.8);
}

canvas {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e74c3c;
}
